
@font-face {
    font-family: 'arizoniaregular';
    src: url('polices/arizonia-regular.woff2') format('woff2'),
         url('polices/arizonia-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-image: linear-gradient(#f6feff,#5a3e80);  
    background-repeat:no-repeat;
    height: 55em;  
    max-height: none;
}
.photo
{
    position: absolute;
    right: 0;
    border: 1px solid black;
    margin-right: 18em;
    box-shadow: 1px 1px 5px  #312e33 ;
    
}

.CV
{
    font-family: "arizoniaregular";
    font-size: 3em;
    border:1px solid;
    width: 20%;
    margin:auto;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 3em;
    margin-top: 1.5em;
    box-shadow: 1px 1px 5px  #312e33 ;
}
h2
{
    color: rgb(155, 114, 9);
    -webkit-text-stroke: 1px #373638;  /* contour police */
}

/* Liseret avec position relative, redimension */
.page
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.lisere 
{
    height: 500px;
    width: 16%;
    margin-right: 3%;
    margin-left: 1%;
    background-image: url("./space.jpg");
    border-radius: 20px;
    box-shadow: 1px 1px 5px  #312e33 ;
    border: 1px solid rgb(212, 206, 206);
}
section
{
    padding: 3%;
}
.contact
{
    position: absolute;
    padding-left: 3em;
    padding-top: 11em;
    color: #e8e8ee;
}
.contact ul
{
    list-style-type: none;
}